---
name: Release

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  upload-assets:
    name: Release Wasm Binary
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          target: wasm32-wasip1
      - uses: arduino/setup-protoc@v3
        with:
          version: "3.x"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --target wasm32-wasip1
      - uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: target/wasm32-wasip1/release/wasm_shim.wasm
          asset_content_type: application/wasm
          asset_name: kuadrant-wasm-shim-${{ github.ref_name }}
